.modal-settings {
  border-radius: 0;
  background: var(--profile-bg);
  backdrop-filter: none;
  border: none;
  padding-top: var(--safe-top, 20px);

  .modal-wrapper__body {
    max-height: 100%;
  }
}
