.modal-settings {
  border-radius: 0;
  background: linear-gradient(oklch(16% 0.04 220deg) 0%, oklch(9% 0.02 220deg) 60%);
  backdrop-filter: none;
  border: none;

  .modal-wrapper__body {
    max-height: 100%;
  }
}
