.modal-wrapper {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  place-items: var(--modal-position, center);
}

.modal-wrapper__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--modal-width);
  height: var(--modal-height);
  overflow: hidden;

  background: var(--u-modal-wrapper-bg);
  border: 0.5px solid rgba(255, 255, 255, 0.12);
  border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);

  will-change: transform;
  touch-action: pan-y;
}
