.modal-wrapper {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  place-items: var(--modal-position, center);

  &__container {
    background: var(--u-modal-wrapper-bg);
    border: 0.5px solid var(--border-subtle);

    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);

    will-change: transform;
    border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;

    max-width: var(--modal-width);
    height: var(--modal-height);

    touch-action: pan-y;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    /* border-bottom: 1px solid #eee; */
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
  }

  &__close-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: var(--text-color-muted);
    transition: color 0.2s ease;

    &:hover {
      color: var(--text-color);
    }
  }

  &__swipe-zone {
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: grab;
    touch-action: none;
    user-select: none;
    flex-shrink: 0;

    &:active {
      cursor: grabbing;
    }
  }

  &__heading {
    width: 36px;
    height: 5px;
    border-radius: 3px;
    background: var(--surface-strong);
    margin: 8px auto 0px;
    flex-shrink: 0;
  }

  &__body {
    padding: 1.2rem;
    overflow-y: auto;
    flex-grow: 1;
    max-height: 90dvh;
    touch-action: pan-y;
  }

  &__footer {
    padding: 1.5rem;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;

    &:empty {
      display: none;
    }
  }
}
